<!DOCTYPE html>
<html>
    <head>
        <title> add user Sokka-Server </title>
        <meta charset="UTF-8">
    </head>
    <body>
        <h2>Add User</h2>
        <form method="post" action="/admin/add_user">
            <label for="user">Benutzername</label><br>
            <input type="text" name="user"><br>
            <label for="password">Password</label><br>
            <input type="text" name="password"><br>
            <input type="submit" value="Abschicken">
        </form>
    </body>
</html>